<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="<%= 'active' if page=="position"%>"><a href="/">Robot Position</a></li>
    <li class="<%= 'active' if page=="fitness" %>"><a href=<%=fitness_path%>>Robot Fitness</a></li>
    <li class="<%= 'active' if page=="snapshot" %>"><a href=<%=snapshot_path%>>Camera View</a></li>
  </ul>
</div>
